<h2>Edit Landmark</h2>
<form action="/landmarks/<%= @landmark.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
Name: <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>"> <br>
Year: <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" >
<h4> Figure: </h4> 
<% @figures.each do |figure| %>
    <input type="radio" id="figure_<%= figure.id %>" name="landmark[figure_id]" value="<%= figure.id %>" <%='checked' if @landmark.figure == figure %> > <%= figure.name %>
    <br>
<%  end %>

<input type="submit" id="Edit Landmark" value="SUBMIT">

</form>